<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/loginstyles.css">
    <script src="/resources/login.js" defer></script>
</head>
<body>
    <div id="logo" style="position:relative;right: 10%;">
        <img src="/images/logo.png" alt="logo" style="position:relative;left:27%;">
        <div id="logoTitle">
            <span>C</span>
            <span>o</span>
            <span>n</span>
            <span>s</span>
            <span>o</span>
            <span>l</span>
            <span>e</span>
            <span>J</span>
            <span>a</span>
            <span>m</span>
        </div>
    </div>
    <div class="page" style="position:relative;left:calc(12.5%+25px);">
        <div id="anim">
            <span>
                <svg width="450" height="300" viewBox="0 0 300 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="300" height="200"/>
                    <path id="lFace" d="M148.967 84.77C146.393 85.378 143.948 83.3661 144.05 80.7237L145.442 44.451C145.511 42.6546 146.77 41.1248 148.52 40.7115L183.847 32.3663C186.42 31.7584 188.865 33.7703 188.764 36.4126L187.371 72.6854C187.302 74.4818 186.043 76.0115 184.294 76.4248L148.967 84.77Z" fill="url(#paint0_linear)"/>
                    <path id="rFace" d="M147.847 84.77C150.42 85.378 152.865 83.3661 152.764 80.7237L151.371 44.451C151.302 42.6546 150.043 41.1248 148.294 40.7115L112.967 32.3663C110.393 31.7584 107.949 33.7703 108.05 36.4126L109.442 72.6854C109.511 74.4818 110.77 76.0115 112.52 76.4248L147.847 84.77Z" fill="url(#paint1_linear)"/>
                    <path id="lChest" d="M148.209 102.067C148.747 99.9231 150.627 98.3865 152.835 98.2872L181.74 96.9876C185.084 96.8372 187.629 99.952 186.814 103.199L170.151 169.622C169.603 171.808 167.658 173.358 165.404 173.404L136.694 173.994C133.398 174.062 130.94 170.978 131.741 167.78L148.209 102.067Z" fill="url(#paint2_linear)"/>
                    <path id="rChest" d="M148.617 102.067C148.08 99.9231 146.199 98.3865 143.991 98.2872L115.086 96.9876C111.742 96.8372 109.197 99.952 110.012 103.199L126.675 169.622C127.223 171.808 129.168 173.358 131.422 173.404L160.132 173.994C163.428 174.062 165.886 170.978 165.085 167.78L148.617 102.067Z" fill="url(#paint3_linear)"/>
                    <rect id="visor" x="122" y="48" width="53" height="17" fill="black"/>
                    <ellipse id="rEar" cx="101" cy="40" rx="5" ry="6" fill="#C4C4C4"/>
                    <line id="rAntenna" x1="100.5" y1="34.0217" x2="100.5" y2="11" stroke="#C4C4C4"/>
                    <ellipse id="lEar" cx="195" cy="41" rx="5" ry="6" fill="#C4C4C4"/>
                    <line id="lAntenna" x1="194.5" y1="35.0217" x2="194.5" y2="12" stroke="#C4C4C4"/>
                    <rect id="lEye" x="155" y="52" width="16" height="8" rx="1.5" fill="#95FFF9"/>
                    <rect id="rEye" x="127" y="52" width="16" width="16" height="8" rx="1.5" fill="#95FFF9"/>
                    <path id="lHand" d="M197.883 98.7614C197.863 96.5517 199.295 94.5907 201.407 93.9383L229.052 85.3971C232.25 84.4089 235.497 86.782 235.527 90.1296L236.14 158.607C236.16 160.862 234.669 162.851 232.499 163.464L204.864 171.27C201.691 172.166 198.535 169.8 198.505 166.504L197.883 98.7614Z" fill="url(#paint4_linear)"/>
                    <path id="rHand" d="M101.295 98.5409C101.29 96.331 99.8353 94.3864 97.7166 93.7581L69.9767 85.5309C66.7671 84.5789 63.547 86.9887 63.555 90.3365L63.7194 158.817C63.7248 161.071 65.2384 163.044 67.4149 163.632L95.1366 171.124C98.319 171.984 101.448 169.582 101.441 166.286L101.295 98.5409Z" fill="url(#paint5_linear)"/>
                    <defs>
                    <linearGradient id="paint0_linear" x1="135" y1="64.5" x2="205.5" y2="53.5" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#8E23F9"/>
                    <stop offset="1" stop-color="#9F4CF1"/>
                    </linearGradient>
                    <linearGradient id="paint1_linear" x1="162.5" y1="59" x2="101" y2="53" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#7E2DE5"/>
                    <stop offset="1" stop-color="#D75BEB"/>
                    </linearGradient>
                    <linearGradient id="paint2_linear" x1="170" y1="90" x2="151.5" y2="183" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#7134F1"/>
                    <stop offset="1" stop-color="#985AE8"/>
                    </linearGradient>
                    <linearGradient id="paint3_linear" x1="102.724" y1="109.963" x2="172.102" y2="161.379" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#9B5AEF"/>
                    <stop offset="1" stop-color="#DD7CF5"/>
                    </linearGradient>
                    <linearGradient id="paint4_linear" x1="217" y1="78.5" x2="217" y2="177" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#9B5AEF"/>
                    <stop offset="1" stop-color="#DD7CF5"/>
                    </linearGradient>
                    <linearGradient id="paint5_linear" x1="82" y1="73" x2="82" y2="177" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#7134F1"/>
                    <stop offset="1" stop-color="#985AE8"/>
                    </linearGradient>
                    </defs>
                </svg>
            </span>
        </div>
        <div id="userInput">
            <form method="post">
                <div>Don't have an account? <a href="/register">Sign Up instead</a></div>
                <div id="name-input"><input style="border-radius: 20% 0;height: 25%;" id="name" type="text" name="username" placeholder="Enter Username"></div>
                <div id="nameInputErrorMsg">*Required to be 6-32 characters long</div>
                <div id="pass-input"><input style="border-radius: 20% 0;height: 25%;" id="pass" type="password" name="password" placeholder="Enter Password"></div>
                <div id="passInputErrorMsg">*Required to be 6-32 characters long</div>
                <div id="signIn-input" style="display: flex;justify-content: center;margin-bottom: 5%;">
                    <input type="submit" value="Log In">
                </div>
            </form>
        </div>
    </div>
</body>
</html>