* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.brand
{
    display: flex;

}
.brand-title {
  text-decoration: none;
  color: rgb(250, 246, 246);
   padding: 25px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  
  
}
nav {
  width: 100%;
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;

}
.logo {
  border-radius: 50%;
  height: 50px;
  position: relative;
  top: 5px;

}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: rgb(250, 246, 246);
  font-size: 15px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 25px;
  float: right;
}

nav a:hover {
  background-color: white;
  color: black;
  text-decoration: underline;
}

.main
{
  height: 800px;
  width: 100%;
  background-image: url("/images/apexgif.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-text{
  float:left;
  padding: 90px;
  margin-top: 150px;
  color: white;


  
}
.heading{
  font-size: 70px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}
.subheading{
  font-size: 50px;
  
}
footer{
  height: 30px;
  padding: 25px;
  font-style: italic;
  color: white;
  background-color: black;
  text-align: center;
}